blip/training_data.pth
blip+detr/combined_blip_cls_tokens.pt
blip/combined_blip_cls_tokens.pt
detr/combined_features.pt
blip+detr/combined_features.pt
blip+detr/extended_model_combined_30classes_1024.pth
blip/extended_model_combined_30classes.pth
detr/extended_model_combined_30classes.pth
